{{- if and .Values.deploy.route .Values.deploy.route.enabled }}
kind: Route
apiVersion: route.openshift.io/v1
metadata:
  name: {{ include "wildfly.appName" . }}
  labels:
  {{- include "wildfly.labels" . | nindent 4 }}
  annotations:
    openshift.io/host.generated: 'true'
spec:
  to:
    kind: Service
    name: {{ include "wildfly.appName" . }}
    weight: 100
  tls:
    termination: edge
    insecureEdgeTerminationPolicy: Redirect
{{- end }}